
	<p><%= comment.text %></p>
	<small><cite><%= comment.user.first_name %> <%= comment.user.last_name %></cite></small>
	<% if user_signed_in? and current_user.id == comment.user.id %>
    <%= link_to 'Delete Comment', [comment.project, comment],
                 method: :delete,
                 data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-xs" %>
    <% end %>
