<h1>Listing Users</h1>

<table class="table">
  <tr>
    <th>Name</th>
  </tr>

<% @users.each do |user| %>
  <tr>
  <td><%= link_to (user.first_name + " "+ user.last_name), user_path(user.id), class:"btn btn-default btn-xs"%></td>
  </tr>
<% end %>
</table>

<br />


