<div class="container">
	<p></p>
	<p>
		<h1>WELCOME</h1>
		<table class="table">
			<tr><th>Your Projects</th></tr>
				<% if user_signed_in? %>
					<% current_user.projects.each do |project|%>
					<tr><td><%= project.title%></td><td>Owner</td></tr>
					<%end%>

					<% current_user.members.each do |member|%>
					<td><%= member.title %></td><td>Member</td>
				<%end%>
				<%else%>
			<tr><td>Please sign in to view projects</td></tr>
			<%end%>
		</table>
	</div>
