#banner {
        float:top;
background: #333333;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 2px solid;
font: small-caps 40px/40px "Times New Roman" , serif;
color: #282;
text-align: center;
}
#banner img {
float: top;
width:40px;
}
#columns {
}
#main {
margin-left: 180px;
padding-top: 4ex;
padding-left: 2em;
}
#side {
float: left;
padding-top: 1em;
padding-left: 2em;
padding-bottom: 1em;
width: 150px;
bottom:0px;
}

#store .entry form, #store .entry form div {
display: inline;
}
#store .cart_title {
font: 120% bold;
}
#store .item_price, #store .total_line {
text-align: right;
}
#store .total_line .total_cell {
font-weight: bold;
border-top: 1px solid #595;
}
/* Styles for the cart in the sidebar */
#cart, #cart table {
font-size: smaller;
color: white;
}
#cart table {
border-top: 1px dotted #595;
border-bottom: 1px dotted #595;
margin-bottom: 10px;
}